<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" class="form mt-4" (submit)="login()" >

    <div class="form-group">
        <input 
            formControlName="userName"
            class="form-control" 
            placeholder="Usuário" 
            autofocus>  
        <ap-vmessage 
            *ngIf="loginForm.get('userName').errors?.required"
            text="Campo usuário obrigatório">
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input
            formControlName="password"
            type="password" 
            class="form-control" 
            placeholder="Senha"> 
            
        <ap-vmessage 
            *ngIf="loginForm.get('password').errors?.required"
            text="Campo senha obrigatório">
        </ap-vmessage>
    </div>

    <button 
        type="submit" 
        class="btn btn-primary btn-block">
        login
    </button>

</form>

<p>Ainda não tem um usuário? <a>Cadastre aqui</a></p>