<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }

    nav a {
      color: white;
      text-decoration: none;
      padding: 8px 16px;
      margin: 0 10px;
    }

    nav a:hover {
      background-color: #555;
    }
  </style>
</head>
<body>

  <nav>
    <a href="http://localhost:4200/categoria">Cadastrar Categoria</a>
    <a href="http://localhost:4200/categoria/lista">Listar Categorias</a>
    <a href="http://localhost:4200/cliente">Cadastrar Cliente</a>
    <a href="http://localhost:4200/cliente/lista">Listar Clientes</a>
    <a href="http://localhost:4200/produto">Cadastrar Produto</a>
    <a href="http://localhost:4200/produto/lista">Listar Produtos</a>
    <a href="http://localhost:4200/usuario">Cadastrar Usuário</a>
    <a href="http://localhost:4200/usuario/lista">Listar Usuário</a>
    
    
   
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="text-center">
    <h1>Bem-vindo ao</h1>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <img class="img-fluid" src="/assets/imagem/unicommerce.png" alt="Welcome">
        </div>
    </div>
</div>
  

</body>
</html>