<body class="container">

    <h1 class="text-center">Usuario</h1><br>
  
    <form [formGroup]="usuarioForm" class="form" (submit)="addUsuario()">
  
        <div class="form-group">
          <label for="login">Login</label>
          <input #categoriaNomeInput
              formControlName="login" 
              id="login" 
              type="text" 
              class="form-control" 
              min="2" required autofocus/>
          <ap-vmessage
              *ngIf="categoriaForm.get('login').errors?.required"
              text="Nome da categoria requerido!">
          </ap-vmessage> 
        </div>
  
        <div class="form-group">
          <label for="senha">Senha</label>
          <input #categoriaNomeInput
              formControlName="senha" 
              id="senha" 
              type="text" 
              class="form-control" 
              min="2" required autofocus/>
        </div>
  
       
       
        <button 
          [disabled]="!categoriaForm.valid" 
          mat-raised-button
          class="btn btn-primary" 
          type="submit">Cadastrar
        </button>
    </form>
    <br>
  
  </body>